{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_large-centered-cta' } %}
  {% block content %}
    <div class="container text-center">
      <div class="bg-white cta-block">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <h5>{{fields.heading}}</h5>
            {{fields.content}}

            <a href="{{fields.button.url}}" alt="{{fields.button.alt}}" class="btn btn-primary">{{fields.button.title}} →</a>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
