{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_research-area-entry-points' } %}
  {% block content %}
    <div class="container">
      {% set post_type = 'research-area' %}

      <span class="block-title d-block">{{fields.title}}</span>
    </div>

    {% set selections = get_posts({ post_type }) %}

    {% if fields.variation == 'cards' %}

      <div class="research-area-wrapper research-area-wrapper--{{fields.variation}}">
        {% include '@partial/post-repeater.twig' with { posts: selections, theme_attr: 'data-bs-theme="white"' } only %}
      </div>

    {% else %}

      <div class="research-area-wrapper research-area-wrapper--{{fields.variation}}">
        <div class="swiper-titles-pagination container d-none d-md-flex">
          {% for post in selections %}
            <div class="pagination-item">{{ post.title }}</div>
          {% endfor %}
        </div>

        <div class="research-swiper">
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- Additional required wrapper -->
          <div class="research-area-wrapper swiper-wrapper variation-{{fields.variation}}">
            {% include '@partial/post-repeater.twig' with { posts: selections } only %}
          </div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-stop-play">play/stop</div>
        </div>
      </div>
    {% endif %}

  {% endblock %}
{% endembed %}
