{% set post = get_post(post_id) %}
{% set backgroundColor =  post.meta('header_background').slug %}

{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_page-header', block: block|merge({ backgroundColor }) } %}
  {% block content %}
    {% set header_sizes = {
        small: "h4",
        medium: "h3",
        large: "h2",
        extra_large: "h1",
      } %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include "@partial/breadcrumb.twig" with { post } only %}

          <h1 class="{{ header_sizes[fields.title_size] }}">{{ post.title }}</h1>
          {% if fields.intro_copy %}
            <strong class="subtitle h5 d-block">{{ fields.intro_copy }}</strong>
          {% endif %}
        </div>

        {% if post.children is not empty %}
          <div class="col-12">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
              <button class="btn d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navigation2" aria-expanded="false" aria-controls="navigation2">
                <span>
                  <span class="text text-show">Show</span>
                  <span class="text text-close">Close</span>
                  navigation</span>
                <svg width="14" height="8" viewbox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 8L13.0622 0.500001L0.937822 0.500001L7 8Z" fill="black"/>
                </svg>
              </button>
              <div class="collapse d-md-block" id="navigation2">
                <ol class="breadcrumb list-unstyled">
                  {% for child in post.children %}
                    <li class="breadcrumb-item">
                      <a href="{{ child.path }}">{{ child.title }}</a>
                    </li>
                  {% endfor %}
                </ol>
              </div>
            </nav>
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
