{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_work-archive' } %}
  {% block content %}
    <form>
      <div class="form-heading-wrap block_page-header">
        <div class="container form-heading">
          <div class="row align-items-center align-items-md-end">
            <div class="col-12 col-lg-7">
              {% if fields.back_to_link %}
                <div class="back-link">
                  <a href="{{ fields.back_to_link.url }}">{{ fields.back_to_link.title ?: 'Back' }}</a>
                </div>
              {% endif %}
              {% include '@partial/page-header-title.twig' with { fields: fields } %}
            </div>

            <div class="col-12 col-lg-5 form-holder">
              <input
                name="work_search"
                type="text"
                placeholder="{{ fields.search_placeholder ?: 'Search...' }}"
                value="{{ request.get.work_search }}"
              >
              <button type="submit">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.76953 1C8.40342 1.00008 10.539 3.13538 10.5391 5.76953C10.5391 8.40376 8.40347 10.539 5.76953 10.5391C3.13552 10.5391 1 8.40381 1 5.76953C1.00009 3.13533 3.13558 1 5.76953 1Z" stroke="currentColor" stroke-width="2"/>
                <line y1="-1" x2="8.2422" y2="-1" transform="matrix(0.707088 0.707126 -0.707088 0.707126 8.24219 9.88965)" stroke="currentColor" stroke-width="2"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="works-wrap">
        <div class="container">
          <div class="filters-wrap">
            <button type="button">Sort and filter</button>
            <button type="button">Reset</button>
            <button type="submit">submit</button>
            <div class="filters-blocks">

              {# Filter by Post Type #}
              <div class="filter-block">
                <div class="filter-title">Filter by type</div>
                <div class="filters">
                  {% set post_types = ['post', 'project', 'publication'] %}
                  {% set selected_types = request.get.type|default([]) %}
                  {% for type in post_types %}
                    <label>
                      <input
                        type="checkbox"
                        name="type[]"
                        value="{{ type }}"
                        {% if type in selected_types %}
                          checked
                        {% endif %}
                      >
                      <span>{{ type|capitalize }}</span>
                    </label>
                  {% endfor %}
                  <label>
                    <input
                      class="default-filter"
                      type="checkbox"
                      name="type[]"
                      value="all"
                      {% if selected_types is empty or 'all' in selected_types %}
                        checked
                      {% endif %}
                    >
                    <span>All</span>
                  </label>
                </div>
              </div>

              {# Filter by Research Area #}
              <div class="filter-block">
                <div class="filter-title">Filter by research area</div>
                <div class="filters">
                  {% set research_terms = fn('get_terms', {
                    taxonomy: 'tax-research-area',
                    hide_empty: true
                  }) %}

                  {% set selected_research_areas = request.get.research_area|default([]) %}

                  {% for term in research_terms %}
                    <label>
                      <input
                        type="checkbox"
                        name="research_area[]"
                        value="{{ term.slug }}"
                        {% if term.slug in selected_research_areas %}
                          checked
                        {% endif %}
                      >
                      <span>{{ term.name }}</span>
                    </label>
                  {% endfor %}
                  <label>
                    <input
                      class="default-filter"
                      type="checkbox"
                      name="research_area[]"
                      value="all"
                      {% if selected_research_areas is empty or 'all' in selected_research_areas %}
                        checked
                      {% endif %}
                    >
                    <span>All</span>
                  </label>
                </div>
              </div>

              <!-- Sort Options -->
              <div class="filter-block">
                <div class="filter-title">Sort</div>
                <div class="filters">
                  {% set sort_options = {
                    'newest': 'Newest',
                    'oldest': 'Oldest',
                    'a_z': 'A to Z',
                    'z_a': 'Z to A'
                  } %}

                  {% set selected_sort = request.get.sort|default('newest') %}

                  {% for key, label in sort_options %}
                    <label>
                      <input
                        {% if key == 'newest' %}
                          class="default-filter"
                        {% endif %}
                        type="radio"
                        name="sort"
                        value="{{ key }}"
                        {% if key == selected_sort %}
                          checked
                        {% endif %}
                      >
                      <span>{{ label }}</span>
                    </label>
                  {% endfor %}
                </div>
              </div>

            </div>

          </div>
          {% if fields.featured_work is not empty %}
            {% set display_featured = posts.pagination.current == 1 and not hide_featured ? 'block' : 'none' %}
            <div class="featured-post-wrap" style="display: {{display_featured}};">
              {% if fields.featured_label %}
                <div>{{fields.featured_label}}</div>
              {% endif %}
              {% include '@partial/tease_switcher.twig' with { post: get_post(fields.featured_work) } only %}
            </div>
          {% endif %}
          <div class="all-works-wrap">
            {% if fields.archive_label %}
              <div>{{fields.archive_label}}</div>
            {% endif %}
            <div class="all-works-grid">
              {% if posts|length %}
                {% include '@partial/post-repeater.twig' with { posts: posts } only %}
              {% else %}
                <div class="no-results">No works found matching your criteria.</div>
              {% endif %}
            </div>
            {% if posts|length %}
              {% include '@partial/pagination-alt.twig' with { posts: posts } only %}
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  {% endblock %}
{% endembed %}
