{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_accordion' } %}
  {% block content %}
    {% set accordion_id = block.anchor|default(block.id) %}
    <h3>{{fields.headline}}</h3>
    <div class="accordion" id="{{accordion_id}}">

      {% for row in fields.rows %}
        {% set row_id = accordion_id ~ '__' ~ loop.index %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{row_id}}" aria-expanded="false" aria-controls="{{row_id}}">
              <p>{{row.title}}</p>
              <p>{{row.preview_text}}</p>
            </button>

          </h2>
          <div id="{{row_id}}" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% for layout in row.content %}
                {% include "@views/blocks/accordion/layout-" ~layout.acf_fc_layout ~".twig" with {layout} %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}
{% endembed %}
