{% set is_active = row.link.current or row.link.current_item_ancestor %}

{% set link_classes = html_classes(
  'nav-link',
  {
    'active': is_active,
  }
) %}

<li class="nav-item dropdown">
  <a href="{{ row.link.url }}" href="{{row.link.path}}" id="{{row.link.id}}" class="{{link_classes}}">
    {{ row.link.title }}
  </a>

  <button class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  </button>

  <div class="dropdown-menu" aria-labelledby="{{row.id}}">
    <ul class="menu main-nav list-unstyled">
      {% for subrow in row.sub_menu_items %}
        {% set page_post = get_post(subrow.page) %}
        <li class="dropdown-item">
          <a href="{{ page_post.path }}">

            {% include '@partial/media-item.twig' with { image: subrow.image } only %}

            <h4>{{ page_post.title }}</h4>

            {{ subrow.subtitle }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="utility-links list-unstyled">
      {% for subrow in row.utility_links %}
        <li>
          <a href="{{ subrow.link.url }}">{{ subrow.link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</li>
