{% set header_fields = options.site.header %}

{# Example of fields for banner nav #}
<ul>
  {% for row in header_fields.banner_navigation.links %}
    <li>
      <a href="{{ row.link.url }}">{{ row.link.title }}</a>
    </li>
  {% endfor %}
</ul>
{# End example of fields for banner nav #}
{# Example of fields for main nav #}
<div>
  {% include "@partial/media-item.twig" with { image: header_fields.main_navigation.logo } only %}
  <ul>
    {% for row in header_fields.main_navigation.menu_items %}
        <li>
          {# Always visible at the top of the page #}
          <a href="{{ row.link.url }}">{{ row.link.title }}</a>

          {# Only visible once you click the link above #}
          <div>
            <ul>
              {% for subrow in row.sub_menu_items %}
                {% set page_post = get_post(subrow.page) %}
                <li>
                  {# > The links with the animating svgs here < #}
                  <a href="{{ page_post.path }}">{{ page_post.title }}</a>
                </li>
              {% endfor %}
            </ul>
            <ul>
              {% for subrow in row.utility_links %}
                <li>
                  {# > The small links at the bottom of the opened menu < #}
                  <a href="{{ subrow.link.url }}">{{ subrow.link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
    {% endfor %}
  </ul>
</div>
{# End example of fields for main nav #}

<nav class="header navbar bg-primary navbar-expand-md" id="header">
  <div class="container-fluid">
    <a href="/" class="navbar-brand mb-0 h1">{{ theme.name }}</a>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% for menu_item in menus.header.items %}
        {% set is_active = menu_item.current or menu_item.current_item_ancestor %}
        {% set has_children = menu_item.children|length > 0 %}

        {% if has_children %}
          {% set link_classes = html_classes(
            'nav-link',
            'dropdown-toggle',
            {
              'active': is_active,
            }
          ) %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="{{menu_item.id}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{menu_item.name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="{{menu_item.id}}">
              {% for child in menu_item.children %}
                <li>
                  <a class="dropdown-item" href="{{child.path}}">{{child.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          {% set link_classes = html_classes(
            'nav-link',
            {
              'active': is_active,
            }
          ) %}
          <li class="nav-item">
            <a class="{{link_classes}}" {% if is_active %} aria-current="page" {% endif %} href="{{menu_item.path}}">{{menu_item.name}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
