{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_schedule' } %}
  {% block content %}

    <div class="container">

      {% set schedule_object = field_objects.schedule %}

      {% set start_time_obj = get_field_object(schedule_object.key ~ '_start_date_time') %}
      {% set end_time_obj = get_field_object(schedule_object.key ~ '_end_date_time') %}

      {% for row in fields.schedule %}

        {% set start = row.start_date_time %}
        {% set end = row.end_date_time %}

        {% set start_date = start|date('Y-m-d') %}
        {% set end_date = end|date('Y-m-d') %}

        <div class="schedule-item">
          <div class="row title-holder">
            <div class="col-12 col-md-5">
              <h2 class="block-title border-0 p-0 m-0">{{row.subtitle}}</h2>
            </div>
            <div class="col-12 col-md-7 date-holder">

              {% if start == end %}
                <p>{{ start_time_obj|merge({ value: start })|datetime('l, F j, Y, ha T') }}</p>

              {% elseif start_date == end_date %}
                <p>
                  {{ start_time_obj|merge({ value: start })|datetime('l, F j, Y, ha') }}
                  to
                  {{ end_time_obj|merge({ value: end })|datetime('ha T') }}
                </p>

              {% else %}
                <p>
                  {{ start_time_obj|merge({ value: start })|datetime('l, F j, Y, ha T') }}
                  to
                  {{ end_time_obj|merge({ value: end })|datetime('l, F j, Y, ha T') }}
                </p>
              {% endif %}
            </div>
          </div>

          <div class="row content-holder align-items-center">
            <div class="col-12 col-md-8">
              <h3 class="h5">{{row.title}}</h3>
            </div>
            <div class="col-12 col-md-8 text-holder">
              {{row.content}}
            </div>
            <div class="col-12 col-md-4 col-xl-3 sidebar-holder">
              {{row.sidebar_content}}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endblock %}
{% endembed %}
