{% embed '@partial/block_wrapper.twig' with {
   extra_classes: html_classes(
    'block_people-callout',
    'block_people-callout_items-per-row--' ~ fields.items_per_row,
  )
} %}
  {% set accordion_id = block.anchor|default(block.id) %}
  {% set people = get_posts(fields.people) %}

  {% block content %}
    <div class="container">
      <h3 class="block-title">{{ fields.heading }}</h3>

      {% if fields.variation == 'accordion' %}

        {% embed "@views/partial/accordion.twig" with {
          rows: people,
          accordion_id,
        } %}
          {% block accordion_header %}
            <div class="row align-items-center">
              <div class="col-12 col-md-2 img-holder">
                {% include "@views/partial/media-item.twig" with { image: row.thumbnail } %}
              </div>
              <div class="col-12 col-md-5 title-holder">
                <h3 class="h5">{{ [row.meta('first_name'), row.meta('last_name')]|filter(v => v)|join(' ')|default(row.title) }}</h3>
              </div>
              <div class="col-12 col-md-5 position-holder">
                {% if row.meta('titles') %}
                  <p class="titles">
                    {% for item in row.meta('titles') %}
                      <span>{{ item.title }}</span>
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
          {% endblock %}
          {% block accordion_body %}
            <div class="row">
              <div class="col-12 col-md-2 social-holder">
                {% if row.meta('social_channels') %}
                  <span class="social-title d-block">Connect</span>
                  {% for item in row.meta('social_channels') %}
                    <a href="{{ item.social_link.url }}">{{ item.social_link.title }}</a><br/>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="col-12 col-md-9 text-holder">
                {{row.bio}}
              </div>
            </div>
          {% endblock %}
        {% endembed %}

      {% elseif fields.variation == 'listing' %}
        <div class="callout-listing">
          {% for row in people %}
            <div class="callout-item">
              <div class="row justify-content-between">
                <div class="col-12 col-md-3 img-holder">
                  {% include "@views/partial/media-item.twig" with { image: row.thumbnail } %}

                  {% if row.meta('social_channels') %}
                    <div class="social-holder">
                      <span class="social-title d-block">Connect</span>
                      {% for item in row.meta('social_channels') %}
                        <a href="{{ item.social_link.url }}">{{ item.social_link.title }}</a><br/>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="col-12 col-md-8 text-holder">
                  <h3 class="h5">{{ [row.meta('first_name'), row.meta('last_name')]|filter(v => v)|join(' ')|default(row.title) }}</h3>
                  {% if row.meta('titles') %}
                    <p class="titles">
                      {% for item in row.meta('titles') %}
                        <span>{{ item.title }}</span>
                      {% endfor %}
                    </p>
                  {% endif %}

                  {{row.bio}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  {% endblock %}
{% endembed %}
